.grid--2-1--first-important {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 1rem;
}

.grid--2-1--first-important .grid-item-important {
  grid-column: 1/2;
  grid-row: 1/3;
}

.grid--2-1--first-important .grid-item-default-first {
  grid-column: 2/3;
  grid-row: 1/2;
}

.grid--2-1--first-important .grid-item-default-second {
  grid-column: 2/3;
  grid-row: 2/3;
}

.grid--2-1--first-important h3 {
  margin-top: 0;
  margin-bottom: 0;
}
